*.dll
*.exe
*.MANIFEST
*.bat
std*.*
/*.txt
viewer/
therapist/
temp/
data/*
!data/init/
!data/art/
data/art/*.bmp
data/art/font.ttf
hack/
dfhack.history
/*-legends.xml
/*-legends_plus.xml
/*-world_history.txt
/*-world_map.bmp
/*-world_sites_and_pops.txt
/*-world_gen_param.txt
*.history
